body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  text-align: center;
  padding: 20px;
}

header img {
  max-width: 150px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;  /* Remove sublinhado padrão dos links no header */
}

main {
  padding: 20px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.gallery img {
  max-width: 100px;
  border-radius: 8px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #011B4D;
  color: white;
}

footer div {
  flex: 1;
  padding: 10px;
}

footer h3 {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

footer p, li {
  position: relative;
  padding-bottom: 5px;
  color: #ffffff;
  border-bottom: none;  /* Remove qualquer borda inferior existente */
  text-decoration: none;  /* Remove qualquer sublinhado de texto */
}

footer p a, li a {
  text-decoration: none;  /* Remove sublinhado padrão dos links */
  color: inherit;  /* Garante que a cor do link seja igual à do texto */
}

footer p::after, li::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, white, transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

footer p:hover::after, li:hover::after {
  opacity: 1;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin: 5px 0;
  color: #ffffff;
}

footer img {
  max-width: 50px;
  margin: 5px;
}

p {
  color: #ffffff;
}
