.add-service-container {
  padding: 20px;
}

.add-service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-service-main {
  margin-top: 20px;
}

.home-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}
