header nav a {
  color: white;
  text-decoration: none; /* Remove sublinhado estático */
  margin: 0 15px;
}

header nav a:hover {
  text-decoration: none; /* Adiciona sublinhado ao passar o mouse */
}

a {
  text-decoration: none;
}
